<div class="pop-out">
  <div class="time-until-action">Auto-following in <%= distance_of_time_in_words(follow.bounce.take_action_at, Time.now) %></div>
  <a class="bounce-link button un-bounce ajax" href="/unbounce?id=<%= follow.id %>_<%= follow.bounce.id %>">Cancel</a>
</div>
