@charset "UTF-8";
/* CSS Document */

p { color: #555; font: 1.2em/1.5 'Helvetica Neue',Arial,'Liberation Sans',FreeSans,sans-serif; }
	
a {color: #e85900; text-decoration: none;}
a:hover {color: #e08d59;}

#wrapper {background: url('../images/logo.png') no-repeat top center;}
#header {margin-bottom: 20px;}

a#header-logo {
	display: block;
	float: left;
	width: 260px;
	height: 125px;
}

#login-widget {
	float: right;
	width: 300px;
	text-align: right;
	margin-top: 63px;
}

#login-widget img {
	float: right;
	margin-left: 10px;
	border: 1px solid #e85900;
	padding: 1px;
}

#login-widget .username {font-weight: bold; font-size: 18px;}
#login-widget .name {display:none;}
#login-widget .ajax, .oauth {color: #e85900;}

#search-results li {}

/* Search Form */

#search {background: #e85900; padding: 10px; margin-bottom: 1px;}
#search input.search-box {border: none; background: #FFF; padding: 5px; width: 360px; float: left;}
#search input.search-box:focus {background: #f7ede7;}
#search input.reset {display: block; float: right; width: 60px; background: #FFF; border: none; height: 30px; border: 1px solid #FFF;}
#search input.reset:hover {background: #eda97e; color: #FFF; cursor: pointer; border: 1px solid #FFF;}

#search input.search-box, #search input.reset {color: #e85900; font-size: 16px;}
#search input.search-box.placeholder {color: #999;}

/* List Results */

ul#search-results li.odd {background:#ffece0;}
ul#search-results li.even {background:#fbddca;}
ul#search-results li {list-style: none; margin: 0px; padding: 10px; margin-bottom: 1px; position: relative;}
ul#search-results li:hover {background: #fffcd9;}
ul#search-results li img {float: left; margin-right: 10px; width: 48px; height: 48px;}
ul#search-results li .username {color:#e85900; font-weight: bold;}
ul#search-results li .name {float: right; color:#e85900;}
ul#search-results li .last-tweet {}
ul#search-results li .last-tweet-at {color: #999;}
ul#search-results li .bounce-link {}
ul#search-results li .tweet-container {margin-left: 58px;width: 382px;}

div#bounce-pop-out {display: none; position: absolute; z-index: 100; padding: 10px;  background: #fffcd9; width: 160px;}

/* Buttons */
.button {padding: 5px 10px; font-size: 12px; cursor: pointer; float: right; border: 1px solid #FFF; background: #e85900; color: #FFF;}
.button:hover {background: #ff6200; color: #FFF;}

/* Calendar */

.calendar {margin-bottom: 10px;}
.ui-datepicker {width: auto;}
.ui-widget {font-size: .9em;}