<h1>Getting Your Followers</h1>

<p>Right now we are getting your follower information from Twitter. This is a one time only process.</p>

<div id="progress-bar-container">
  <div id="progress-bar" style="width: <%=  %>"></div>
</div>
<div><%= @logged_in_user.update_friends_progress %>% complete</div>