<%= javascript_include_tag 'home' %>

<form id="search" class="ajax" action="/search" method="get">
		<input class="search-box placeholder" name="q" type="text" autocomplete="off" value="Search the people you follow..." />
		<input class="offset" name="o" type="hidden" <% if @end_of_follows %>value="-1"<% end %> />
		<input class="reset" type="reset" value="Clear" />
		<div class="clear"></div>
</form>

<div id="bounce-pop-out">
  <div id="bounce-calendar"></div>
  <a id="bounce-toggle-link" class="button bounce" href="#">Bounce</a>
</div>

<ul id="search-results">
  <%= render(:partial => "search/results") %>
</ul>
