
<h1>stream bouncer</h1>

<a class="ajax" href="/logout">Logout</a>

<h1>Past Bounces</h1>
<p>This is where we'll put a list of the three most recently expired bounces, if the user has any.</p>

<h1>Followers</h1>

<form class="ajax" action="/search">
	<input name="q" type="text" />
	<input type="reset" value="Clear" />
</form>

<ul id="search">
	<% @logged_in_user.followed_twitter_users.each { |twitter_user| %>
		<li>
			<div class="username"><%= twitter_user.username %></div>
			<div class="name"><%= twitter_user.name %></div>
		</li>
	<% } %>
</ul>
