
<h1>stream bouncer</h1>

<a href="/logout">Logout</a>

<h1>Past Bounces</h1>
<p>This is where we'll put a list of the three most recently expired bounces.</p>

<h1>Followers</h1>
<form action="/search" method="get">
	<input type="text" name="q" />
</form>

<ul>
	

</ul>
