
<p>Ever have someone you follow go overboard tweeting about a event or topic you have no interest in? Any other time and they are a good follow but 
come #sxsw time they get annoying real fast.</p>

<p>With StreamBouncer you can setup bounces that will unfollow that person now, but re-follow them sometime in the future.</p>

<p>To get started just...</p>

<a class="oauth" href="/oauth/twitter">
  <img src="/images/sign-in-with-twitter-l.png" />
</a>
