
<p>Ever have someone you follow go overboard tweeting about a event or topic you have no interest in? Any other time of the year they are a good follow but 
come #sxsw time they get annoying real fast. With StreamBouncer you can setup bounces that will unfollow that person now, but re-follow 
them sometime in the future.</p>

<p>Tt is free to use but we might have to come up with a paid plan if it costs a lot to host.</p>

<p>To get started just...</p>

<a class="oauth" href="/oauth/twitter">
  <img src="/images/sign-in-with-twitter-l.png" />
</a>
