<!DOCTYPE html>
<html>
  <head>
  </head>
  <body style="padding: 0; margin: 0; background: url('/images/twitter-connect.jpg') no-repeat;">

    <% if ::Rails.env == 'production' %>
      <script type="text/javascript">
      
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-6371366-21']);
        _gaq.push(['_trackPageview']);
      
        (function() {
          var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
      </script>
    <% end %>

    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js"></script>
    <script type="text/javascript">
      $(function() {
        var urlParams = window.location.href.substring(window.location.href.indexOf('?'));
        $.ajax({
          url: '/oauth/close_window' + urlParams,
          dataType: 'script'
        });
      });
    </script>
  </body>
</html>